

/* * {
    border-width: 1px;
    border-color: red;
} */

* {
    color: #bdb5b5;
}

.page {
    background-color: #161314;
}

connect_view {
    outer-shadow: 0px 3px 10px #00000080;
    space: 1s;
    width: 500px;
    height: 400px;
    background-color: #2d2b2b;
    border-radius: 4px;
}

connect_view .tabs {
    height: 50px;
}

connect_view .tabs label {
    width: 1s;
    height: 1s;
    child-space: 1s;
}

connect_view .content {
    child-space: 50px;
    row-between: 20px;
}

.input_row {
    col-between: 20px;
    height: auto;
}

.input_row textbox {
    width: 1s;
}

.input_row>vstack {
    row-between: 5px;
}

.ip_input {
    width: 1s;
}

.username_input {
    width: 1s;
    height: auto;
}

.username_input textbox {
    width: 1s;
}

.password_input {
    width: 1s;
    height: auto;
}

.password_input textbox {
    width: 1s;
}

.port_input {
    width: 100px;
}

.indicator {
    width: 50%;
    height: 5px;
    background-color: #f54e47;
    left: 0%;
    transition: left 0.1 0.0;
}

.indicator:checked {
    left: 50%;
    transition: left 0.1 0.0;
}

button.start {
    top: 1s;
    width: 1s;
    bottom: auto;
}

button label {
    space: 1s;
}

button.accent {
    background-color: #f54e47;
    outer-shadow: 0 1 0 #790d0a;
}

button.accent:over {
    background-color: #ee5550;
}

textbox {
    background-color: #211e1f;
    border-width: 0px;
}

textbox:over {
    background-color: #211e1f;
}

textbox.invalid {
    border-width: 1px;
    border-color: red;
}

.color_picker {
    top: 1s;
    cursor: hand;
}

.color_picker .picker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.color_picker popup {
    background-color: #434141;
    outer-shadow: 0px 3px 10px #00000040;
    border-radius: 4px;
    top: 120%;
    width: auto;
    height: auto;
}